@import url('https://fonts.googleapis.com/css?family=Jomolhari&display=swap');
* {
    margin: 0;
    padding: 0;
    /* transition: all 1s; */
}


h1, h2, h3, h4, h5, h6, p, li, a {
    font-family: 'Jomolhari', serif;
}
body{
    /* display: block; */
    background: url(images/bkgd.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    /* z-index: -10; */
}
img {
    width: 100%;
    height: auto;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden; 
    /* position: absolute; */
    width: 100%;
    /* height: 100%; */
    margin-top:100px;
}
.innercontainer {
    width: 85%;
    margin: 0 auto;
    position: relative;
}
.flexbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
}
/* Header */
header {
    display: flex;
    align-items: center;
    padding: 0 0 40px;
}
header img {
    width: 50px;
}

header h1 {
    font-size: 4em;
    padding-left: 25px;
    color: white;
}
/* Section Description */
.description h2 {color: white;}
.description p {
    padding-bottom: 5px;
    color: white;
}
.description ul {
    list-style: none;
    padding-left: 15px;
    margin-bottom: 20px;
}
.description ul li {
    color: white;
}
.description ul li::before{
    content: "\2022";
    color: turquoise; /* Change the color */
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
/* Game Buttons */
.level-title h2 {color: white;}
.game-btns {
    padding: 20px 0;
    width: 400px;
    display: flex;
    justify-content: space-between;
}
.game-btns button {
    background-color: #ffffff;
    padding: 15px 20px;
    font-size: 1.4em;
    width: 150px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: all 1s;
}
.game-btns button:hover {
    background-color: turquoise;
}
/*Pop Ups */
.popup {
	margin: 70px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 85%;
	position: relative;
    font-family: 'Jomolhari', serif;
    text-align: center;
}
.popup .close {
	position: absolute;
	top: 0px;
	right: 20px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.popup .close:hover {
	color: #ed1c24;
}

.popup h2 {
	margin-top: 0;
    color: #333;
    font-size: 2em;
}
.popup .content-1,
.content-2 {
	max-height: 30%;
	overflow: auto;
    text-align: center;
    margin-bottom: 30px;
}
.popup button {
    padding: 10px 15px;
    font-size: 1.2em;
    border-radius: 5px;
    color: white;
    background-color: #4CAF50;
    transition: all 1s;
    cursor: pointer;
}
.popup button a {
    color: #ffffff;
}
.popup button:hover {
    background-color: green;
}

.panel-overlay-main {
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	transition: opacity 500ms;
	visibility: hidden; 
    opacity: 0;
    margin: 0 auto; 
    width: 100%;
    box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  }
#children-popup {
position: absolute;
width: 600px;
}
#adult-popup {
    width: 600px;
    }

.show {
	visibility: visible !important;
	opacity: 100 !important;
}
.content-2 input {
    border: 1px solid #333;
    padding: 8px 5px;
    font-size: 1.2em;
    border-radius: 3px;
}

/*ScoreBoard*/
.scores-description {
    width: 80%;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px 30px;
    box-sizing: border-box;
}
.scores-description ol {
    padding-left: 30px;
    width: 70%;
    margin: 0 auto;
}
.home-btn {
    padding: 20px 0;
    width: 400px;
    display: flex;
    justify-content: center;
}
.home-btn button {
    padding: 15px 20px;
    font-size: 1.4em;
    width: 250px;
    border-radius: 8px;
    border: none;
}
.home-btn button:hover {
    background-color: turquoise;
}

@media all and (max-width: 767px) {
    .container {
        margin: 30px 0;
    }
    header {
        flex-direction: column;
        justify-content: center;
        padding: 0 0 30px;
    }
    header img {
        width: 100px;
    }
    header h1 {
        text-align: center;
        padding-left: 0;
        line-height: 1.3em;
    }
    .description {
        width: 80%;
        margin: 0 auto;
    }
    .description h2 {
        text-align: center;
        padding-bottom: 10px;
    }
    .description p {
        padding-bottom: 10px;
    }
    .description ul li {
        padding-bottom: 4px;
    }
    .game-btns {
        width: 80%;
        flex-direction: column;
        align-items: center;
    }
    .game-btns button {
        margin-bottom: 8px;
    }
    #children-popup {
        position: absolute;
        width: 80%;
    }
    #adult-popup {
        width: 80%;
    }
}