@import url('https://fonts.googleapis.com/css?family=Jomolhari&display=swap');
* {
    margin: 0;
    padding: 0;
    /* transition: all 1s; */
}


h1, h2, h3, h4, h5, h6, p, li, a {
    font-family: 'Jomolhari', serif;
}
body{
    display: block;
    background: url(images/bkgd.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}
body.animalbkgd {
    background: url(images/bkgds/jungle.jpg) no-repeat center center fixed;
    background-size: cover;
}
body.disneybkgd {
    background: url(images/bkgds/disneycastle.jpg) no-repeat center center fixed;
    background-size: cover;
}
body.toybkgd {
    background: url(images/bkgds/toysballpit.jpg) no-repeat center center fixed;
    background-size: cover;
}
body.netflixbkgd {
    background: url(images/bkgds/netflixblurrybkgd.jpg) no-repeat center center fixed;
    background-size: cover;
}
body.celebritiesbkgd {
    background: url(images/bkgds/celebritiesbkgd.jpg) no-repeat center center fixed;
    background-size: cover;
}
body.moviesbkgd {
    background: url(images/bkgds/moviebkgd.jpg) no-repeat center center fixed;
    background-size: cover;
}
body.brandsbkgd {
    background: url(images/bkgds/brandbkgd.jpg) no-repeat center center fixed;
    background-size: cover;
}
body.all-background {
    background: url(images/bkgds/allbkgd.jpg) no-repeat center center fixed;
    background-size: cover;
}
a{
    text-decoration: none;
}
/* img {
    width: 100%;
    height: auto;
} */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 25px 0 10px;
}
header.child-container {
    width: 600px;
}
header.adultcontainer {
    width: 800px;
}
.score-section{ 
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin-right: 20px;
}

/*Countdown timer design*/
#countdown{
   /* margin-top: 30px;
    margin-left: 300px; */
    position: relative;
    font-size: 34px;
	width: 75px;
	height: 75px;
    line-height: 75px;
	border-radius: 100px;
    text-align: center;
    margin-left: 20px;
}
.countdown-animal{
    background: #80CC5F;
    color:white;
}
.countdown-disney{
    background: white;
    color: #2A3ACB;
}
.countdown-toys{
    background: #2FB782;
    color: white;
}
.countdown-netflix{
    background: black;
    color:#D64030;
}
.countdown-celebrities{
    background:#D1B681;
    color:#4A4B55;
}
.countdown-movies{
    background:#67A3E1;
    color: #FDFEB9;
}
.countdown-brands{
background: white;
color:black;
}

.score-section h1{
    width: 120px;
    color:white;
}

#score{
    margin-top: 10px;
    margin-left: 5px; 
    font-size: 40px; 
    width: 40px;
    color:white;
}
#ch-score{
    margin-top: 10px;
    margin-left: 5px; 
    font-size: 40px; 
    width: 40px;
    color:white;
}
#see-cards{
    visibility: hidden; 
}


/*Card layout */
.cards-container{
    /* width: 600px;
    height: 520px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0 auto;
    /* perspective: 1000px; */
}
.childgame-container {
    width: 600px;
    height: 520px;
}
.adultgame-container {
    width:800px;
    height:640px;  
}
.memory-card {
    position:relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    perspective: 500px;
    margin-bottom: 20px;
}
/* .animalcontainer{
    width:600px;
    height:520px;
} */
.animalsize {
    width: 180px;
    height: 252px;
}
.disneysize {
    width: 140px;
    height: 196px;
}
.toysize {
    width: 110px;
    height: 154px;
}
.netflixsize {
    width: 120px;
    height: 178px; 
}
.brandssize{
    width: 90px;
    height: 148px;
}
/* .disneycontainer{
    margin-top:20px;
    width:800px;
    height:620px;
} */
/* .toycontainer{
    margin-top:20px;
    width:1000px;
    height:620px;
} */
/* .memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}
.memory-card.flip {
    transform: rotateY(180deg);
} */
.innercard {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    -o-transform-style: preserve-3d;
    -o-transition: -o-transform 1s;
    -moz-transform-style: preserve-3d;
    -moz-transition: -moz-transform 1s;
    cursor: pointer;
    position: relative;
    
}
.innercard:active {
    transform: scale(.97);
    transition: transform .2s;
}
.innercard.flip {
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}
.front-card, .back-card {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -o-backface-visibility: hidden;
}
.front-card {
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    opacity: 1;
}
.back-card {
    transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    opacity: 1;
    background-color: black;
}
    

/* .x .overlay{
    width:100%;
    height: 252px;
    background: rgba(0,0,0,.5);
    position: absolute;
} */

.animalsize.x .overlay {
    width: 100%;
    height: 252px;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 200;
}
.disneysize.x .overlay {
    width: 100%;
    height: 196px;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 20;
}
.toysize.x .overlay {
    width: 100%;
    height: 154px;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 20;
}
.netflixsize.x .overlay {
    width: 100%;
    height: 178px;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 20;
}
.brandssize.x .overlay {
    width: 100%;
    height: 148px;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 20;
}
.avoid-clicks {
    pointer-events: none;
  }

  /* Congratulation Popup */ 
  .panel-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden; 
    opacity: 0;
  }

.panel-overlay:target {
	visibility: visible;
    opacity: 1;
   
}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 500px;
	position: relative;
	transition: all 5s ease-in-out;
    font-family: 'Jomolhari', serif;
    text-align: center;
}
  
.popup h2 {
	margin-top: 0;
    color: #333;
    font-size: 2em;
}

/* .popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
} */

/* .popup .close:hover {
	color: #E5F720; 
}*/
.popup .content-1,
.content-2 {
	max-height: 30%;
	overflow: auto;
    text-align: center;
    margin-bottom: 30px;
}
.popup button {
    font-size: 1.2em;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    background-color: #4CAF50;
    transition: all 1s;
    cursor: pointer;
}
.popup a {
    color: #ffffff;
    padding: 10px 15px;
    font-size: 1.2em;
    border-radius: 5px;
    color: white;
    background-color: #4CAF50;
    transition: all 1s;
    cursor: pointer;
}
.popup a:hover, .popup button:hover {
    background-color: green;
}

.panel-overlay-main {
	
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden; 
    opacity: 0;
    width: 100%;
    display: block;
    margin: 0 auto;

  }
  #game-over-score{
    visibility: hidden; 
  }
  #game-over-time{
    visibility: hidden;
  }
  

.show {
	visibility: visible !important;
	opacity: 100 !important;
}

@media all and (max-width: 767px) {
    .innercontainer {
        width: 85%;
        margin: 0 auto;
        position: relative;
    }
    header.child-container {
        width: 100%;
    }
    header.adultcontainer {
        width: 100%;
    }
    .childgame-container {
        width: 100%;
    }
    .adultgame-container {
        width: 100%;
    }
    .animalsize {
        width: 31%;
        height: 31%;
    }
    .disneysize {
        width: 23%;
        height: 23%;
    }
    .toysize {
        width: 18%;
        height: 18%;
    }
    .netflixsize {
        width: 15%;
        height: 13%; 
    }
    .brandssize{
        width: 15.5%;
        height: 13%;
    }
    .popup {
        width: 80%;
    }
}