@import url('https://fonts.googleapis.com/css?family=Jomolhari&display=swap');
* {
    margin: 0;
    padding: 0;
    /* transition: all 1s; */
}


h1, h2, h3, h4, h5, h6, p, li, a {
    font-family: 'Jomolhari', serif;
}
body{
    margin: 0;
    padding: 0;
    display: block;
    background-image: url(images/bkgd.jpg);
    background-size: cover;
}

a{
    text-decoration: none;
}

.score-section{ 
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin: auto;
    padding: 20px 0;
}
#countdown{
    float: left;
    color:white;
    margin-top: 30px;
    margin-left: 300px;
    position: absolute;
    font-size: 30px;
	background: #80CC5F;
	width: 100px;
	height: 100px;
    line-height: 100px;
	border-radius: 100px;
    text-align: center;
    font-size: 40px;
}
.score-section h1{
    width: 120px;
    color:white;
}

#score{
    margin-top: 10px;
    margin-left: 5px; 
    font-size: 40px; 
    width: 40px;
    color:white;
}


/*Card layout */
.cards-container{
    width: 600px;
    height: 520px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0 auto;
    /* perspective: 1000px; */
}
.memory-card {
    position:relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    perspective: 500px;
    margin-bottom: 20px;
}
/* .animalcontainer{
    width:600px;
    height:520px;
} */
.animalsize {
    width: 180px;
    height: 252px;
}
.disneysize {
    width: 140px;
    height: 196px;
}
.toysize {
    width: 110px;
    height: 154px;
}
/* .disneycontainer{
    margin-top:20px;
    width:800px;
    height:620px;
} */
/* .toycontainer{
    margin-top:20px;
    width:1000px;
    height:620px;
} */
/* .memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}
.memory-card.flip {
    transform: rotateY(180deg);
} */
.innercard {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
.innercard:active {
    transform: scale(.97);
    transition: transform .2s;
}
.innercard.flip {
    transform: rotateY(180deg);
}
.front-card, .back-card {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
/* .front-card {
    transform: rotateY(180deg);
    opacity: 1;
    background-color: black;
} */
.front-card {
    transform: rotateY(180deg);
    opacity: 1;
}
.back-card {
    transform: rotateY(0deg);
    opacity: 1;
    background-color: black;
}
    

/* .x .overlay{
    width:100%;
    height: 252px;
    background: rgba(0,0,0,.5);
    position: absolute;
} */
.animalsize.x .overlay {
    width: 100%;
    height: 252px;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 200;
}
.disneysize.x .overlay {
    width: 100%;
    height: 196px;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 20;
}
.toysize.x .overlay {
    width: 100%;
    height: 154px;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 20;
}
.avoid-clicks {
    pointer-events: none;
  }

  /* Congratulation Popup */ 
  .panel-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden; 
    opacity: 0;
  }

.panel-overlay:target {
	visibility: visible;
    opacity: 1;
   
}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 85%;
	position: relative;
	transition: all 5s ease-in-out;
    font-family: 'Jomolhari', serif;
    text-align: center;
}
  
.popup h2 {
	margin-top: 0;
    color: #333;
    font-size: 2em;
}

/* .popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
} */

/* .popup .close:hover {
	color: #E5F720; 
}*/
.popup .content-1,
.content-2 {
	max-height: 30%;
	overflow: auto;
    text-align: center;
    margin-bottom: 30px;
}
.popup button {
    padding: 10px 15px;
    font-size: 1.2em;
    border-radius: 5px;
    color: white;
    background-color: #4CAF50;
    transition: all 1s;
    cursor: pointer;
}
.popup button a {
    color: #ffffff;
}
.popup button:hover {
    background-color: green;
}

.panel-overlay-main {
	
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden; 
    opacity: 0;
    width: 100%;
    display: block;
    margin: 0 auto;

  }
  #game-over-score{
    visibility: hidden; 
  }
  #game-over-time{
    visibility: hidden;
  }
  

.show {
	visibility: visible !important;
	opacity: 100 !important;
}
